<!--<app-nav [isLogged]="isLogged"></app-nav>-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngFor="let item of menu" [class]="item.isActive ? 'active' : ''">
          <a routerLink={{item.path}} (click)=makeTabActive(item)>{{item.name}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!isLogged" (click)=disableAllTabs()><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li style="cursor: pointer" *ngIf="isLogged" (click)=logout()><a><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>